CONTEXTE : Vous travaillez pour la ville de Seattle. Pour atteindre son objectif de ville neutre en émissions de carbone en 2050, votre équipe s’intéresse de près à la consommation et aux émissions des bâtiments non destinés à l’habitation.

OBJECTIF : vous voulez tenter de prédire les émissions de CO2 et la consommation totale d’énergie de bâtiments non destinés à l’habitation pour lesquels elles n’ont pas encore été mesurées.

NB : Votre prédiction se basera sur les données structurelles des bâtiments (taille et usage des bâtiments, date de construction, situation géographique, ...)


TO DO :
En + : Vous cherchez également à évaluer l’intérêt de l’"ENERGY STAR Score" pour la prédiction d’émissions, qui est fastidieux à calculer avec l’approche utilisée actuellement par votre équipe. Vous l'intégrerez dans la modélisation et jugerez de son intérêt.

1) Réaliser une courte analyse exploratoire.
2) Tester différents modèles de prédiction afin de répondre au mieux à la problématique.


CONSEILS :
L’objectif est de te passer des relevés de consommation annuels futurs (attention à la fuite de données / DATA LEAKS). Nous ferons de toute façon pour tout nouveau bâtiment un premier relevé de référence la première année, donc rien ne t'interdit d’en déduire des variables structurelles aux bâtiments, par exemple la nature et proportions des sources d’énergie utilisées..

Fais bien attention au traitement des différentes variables, à la fois pour trouver de nouvelles informations (peut-on déduire des choses intéressantes d’une simple adresse ?) et optimiser les performances en appliquant des transformations simples aux variables (normalisation, passage au log, etc.).

Mets en place une évaluation rigoureuse des performances de la régression, et optimise les hyperparamètres et le choix d’algorithmes de ML à l’aide d’une validation croisée.

fuite des données ? :

In [42]:
%reset -f
%matplotlib inline
%autosave 300

import pandas as pd
import numpy as np
import seaborn as sns

Autosaving every 300 seconds

In [43]:
# load raw dataset
#all_data = pd.read_csv("dataset/2016_Building_Energy_Benchmarking.csv", sep = ',', encoding = 'utf-8')
all_data = pd.read_csv("dataset/2016_Building_Energy_Benchmarking.csv")

display(all_data)

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.00000,0659000030,...,1156514.25000,3946027.00000,12764.52930,1276453.00000,False,NaN,Compliant,NaN,249.98000,2.83000
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.00000,0659000220,...,950425.18750,3242851.00000,51450.81641,5145082.00000,False,NaN,Compliant,NaN,295.86000,2.86000
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.00000,0659000475,...,14515435.00000,49526664.00000,14938.00000,1493800.00000,False,NaN,Compliant,NaN,2089.28000,2.19000
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.00000,0659000640,...,811525.31250,2768924.00000,18112.13086,1811213.00000,False,NaN,Compliant,NaN,286.43000,4.67000
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.00000,0659000970,...,1573448.62500,5368607.00000,88039.98438,8803998.00000,False,NaN,Compliant,NaN,505.01000,2.88000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,50222,2016,Nonresidential COS,Office,Horticulture building,1600 S Dakota St,Seattle,WA,NaN,1624049080,...,153655.00000,524270.86000,3254.75024,325475.02440,True,NaN,Error - Correct Default Data,NaN,20.94000,1.70000
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,719 8th Ave S,Seattle,WA,NaN,3558300000,...,116221.00000,396546.05200,5537.29980,553729.98050,False,NaN,Compliant,NaN,32.17000,2.01000
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,1920 1st Ave W,Seattle,WA,NaN,1794501150,...,525251.68750,1792158.75800,39737.39063,3973739.06300,False,NaN,Compliant,NaN,223.54000,16.99000
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,8319 8th Ave S,Seattle,WA,NaN,7883603155,...,102248.00000,348870.17600,3706.01001,370601.00100,False,NaN,Compliant,NaN,22.11000,1.57000
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,2820 S Myrtle St,Seattle,WA,NaN,7857002030,...,126774.39840,432554.24750,7203.41992,720341.99220,False,NaN,Compliant,NaN,41.27000,2.26000

What's in this Dataset?
Rows : 3,376
Columns : 46
Each row is a : Building


source : https://data.seattle.gov/dataset/2016-Building-Energy-Benchmarking/2bpz-gwpy

In [44]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   PropertyName                     3376 non-null   object
 5   Address                          3376 non-null   object
 6   City                             3376 non-null   object
 7   State                            3376 non-null   object
 8   ZipCode                          3360 non-null   float64
 9   TaxParcelIdentificationNumber    3376 non-null   object
 10  CouncilDistrictCode              3376 non-null   int64
 11  Neighborhood                     3376 non-null   object
 12  Latitude                         3376 non-null   float64
 13  Longitude                        3376 non-null   float64
 14  YearBuilt                        3376 non-null   int64
 15  NumberofBuildings                3368 non-null   float64
 16  NumberofFloors                   3376 non-null   int64
 17  PropertyGFATotal                 3376 non-null   int64
 18  PropertyGFAParking               3376 non-null   int64
 19  PropertyGFABuilding(s)           3376 non-null   int64
 20  ListOfAllPropertyUseTypes        3367 non-null   object
 21  LargestPropertyUseType           3356 non-null   object
 22  LargestPropertyUseTypeGFA        3356 non-null   float64
 23  SecondLargestPropertyUseType     1679 non-null   object
 24  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 25  ThirdLargestPropertyUseType      596 non-null    object
 26  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 27  YearsENERGYSTARCertified         119 non-null    object
 28  ENERGYSTARScore                  2533 non-null   float64
 29  SiteEUI(kBtu/sf)                 3369 non-null   float64
 30  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 31  SourceEUI(kBtu/sf)               3367 non-null   float64
 32  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 33  SiteEnergyUse(kBtu)              3371 non-null   float64
 34  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 35  SteamUse(kBtu)                   3367 non-null   float64
 36  Electricity(kWh)                 3367 non-null   float64
 37  Electricity(kBtu)                3367 non-null   float64
 38  NaturalGas(therms)               3367 non-null   float64
 39  NaturalGas(kBtu)                 3367 non-null   float64
 40  DefaultData                      3376 non-null   bool
 41  Comments                         0 non-null      float64
 42  ComplianceStatus                 3376 non-null   object
 43  Outlier                          32 non-null     object
 44  TotalGHGEmissions                3367 non-null   float64
 45  GHGEmissionsIntensity            3367 non-null   float64
dtypes: bool(1), float64(22), int64(8), object(15)
memory usage: 1.2+ MB

In [45]:
# Primary Key : OSEBuilding ID
all_data["OSEBuildingID"].unique().shape

(3376,)

In [46]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
all_data.describe()

,OSEBuildingID,DataYear,ZipCode,CouncilDistrictCode,Latitude,Longitude,YearBuilt,NumberofBuildings,NumberofFloors,PropertyGFATotal,...,SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),Comments,TotalGHGEmissions,GHGEmissionsIntensity
count,3376.00000,3376.00000,3360.00000,3376.00000,3376.00000,3376.00000,3376.00000,3368.00000,3376.00000,3376.00000,...,3371.00000,3370.00000,3367.00000,3367.00000,3367.00000,3367.00000,3367.00000,0.00000,3367.00000,3367.00000
mean,21208.99111,2016.00000,98116.94911,4.43928,47.62403,-122.33480,1968.57316,1.10689,4.70912,94833.53732,...,5403667.29453,5276725.71439,274595.89821,1086638.96657,3707612.16159,13685.04538,1368504.54144,NaN,119.72397,1.17592
std,12223.75701,0.00000,18.61520,2.12063,0.04776,0.02720,33.08816,2.10840,5.49446,218837.60712,...,21610628.62764,15938786.48412,3912173.39270,4352478.35521,14850656.13896,67097.80830,6709780.83488,NaN,538.83223,1.82145
min,1.00000,2016.00000,98006.00000,1.00000,47.49917,-122.41425,1900.00000,0.00000,0.00000,11285.00000,...,0.00000,0.00000,0.00000,-33826.80078,-115417.00000,0.00000,0.00000,NaN,-0.80000,-0.02000
25%,19990.75000,2016.00000,98105.00000,3.00000,47.59986,-122.35066,1948.00000,1.00000,2.00000,28487.00000,...,925128.59375,970182.23438,0.00000,187422.94535,639487.00000,0.00000,0.00000,NaN,9.49500,0.21000
50%,23112.00000,2016.00000,98115.00000,4.00000,47.61867,-122.33249,1975.00000,1.00000,4.00000,44175.00000,...,1803753.25000,1904452.00000,0.00000,345129.90630,1177583.00000,3237.53760,323754.00000,NaN,33.92000,0.61000
75%,25994.25000,2016.00000,98122.00000,7.00000,47.65712,-122.31941,1997.00000,1.00000,5.00000,90992.00000,...,4222455.25000,4381429.12500,0.00000,829317.84375,2829632.50000,11890.33496,1189033.50000,NaN,93.94000,1.37000
max,50226.00000,2016.00000,98272.00000,7.00000,47.73387,-122.22097,2015.00000,111.00000,99.00000,9320156.00000,...,873923712.00000,471613856.00000,134943456.00000,192577488.00000,657074389.00000,2979090.00000,297909000.00000,NaN,16870.98000,34.09000

In [47]:
all_data["ListOfAllPropertyUseTypes"].unique().tolist()

['Hotel',
 'Hotel, Parking, Restaurant',
 'Hotel, Parking, Swimming Pool',
 'Police Station',
 'Other - Entertainment/Public Assembly',
 'Multifamily Housing',
 'Hotel, Parking',
 'Data Center, Library, Parking',
 'Fitness Center/Health Club/Gym, Office, Swimming Pool',
 'Office, Other, Other - Lodging/Residential, Restaurant, Social/Meeting Hall',
 'Courthouse',
 'Other',
 'K-12 School',
 'College/University',
 'Automobile Dealership',
 'Hotel, Parking, Retail Store, Swimming Pool',
 'K-12 School, Multifamily Housing, Office, Other - Entertainment/Public Assembly',
 'Self-Storage Facility',
 'Energy/Power Station, Laboratory, Manufacturing/Industrial Plant, Non-Refrigerated Warehouse, Office',
 'Non-Refrigerated Warehouse, Office, Refrigerated Warehouse',
 'Non-Refrigerated Warehouse, Office',
 'Office, Other - Education',
 'Office, Self-Storage Facility, Vocational School',
 'Data Center, Office, Retail Store',
 'Other - Mall, Personal Services (Health/Beauty, Dry Cleaning, etc)',
 'Office, Retail Store',
 'Office, Other - Entertainment/Public Assembly, Restaurant',
 'Hotel, Parking, Restaurant, Retail Store',
 'Hotel, Other - Entertainment/Public Assembly, Retail Store',
 'Office',
 'Parking, Senior Care Community',
 'Senior Care Community',
 'Medical Office',
 'Data Center, Medical Office, Non-Refrigerated Warehouse, Office, Other, Parking',
 'Retail Store',
 'Office, Other, Parking, Retail Store',
 'Office, Other, Parking',
 'Data Center, Distribution Center, Office, Parking, Retail Store',
 'Hotel, Swimming Pool',
 'Office, Parking',
 'Other, Parking',
 'Hospital (General Medical & Surgical), Parking',
 'Office, Other',
 'Museum',
 'Data Center, Office',
 'Repair Services (Vehicle, Shoe, Locksmith, etc)',
 'Food Service, Office, Other - Lodging/Residential',
 'Residence Hall/Dormitory',
 'K-12 School, Parking',
 'Courthouse, Other',
 'Non-Refrigerated Warehouse, Office, Other - Services',
 'Restaurant, Retail Store',
 'Other/Specialty Hospital',
 'Hospital (General Medical & Surgical)',
 'Financial Office, Medical Office, Parking',
 'Non-Refrigerated Warehouse',
 'Non-Refrigerated Warehouse, Office, Other - Services, Residence Hall/Dormitory',
 'Data Center, Distribution Center, Office, Other, Parking',
 'Office, Restaurant, Self-Storage Facility',
 'Other - Entertainment/Public Assembly, Parking',
 'Data Center, Distribution Center, Office, Other',
 'Non-Refrigerated Warehouse, Office, Other, Other - Services',
 'Food Service, Hotel, Parking',
 'Laboratory, Non-Refrigerated Warehouse, Office, Other - Utility',
 'Fast Food Restaurant, Medical Office, Movie Theater, Parking, Retail Store',
 'Financial Office, Multifamily Housing, Parking, Retail Store, Supermarket/Grocery Store',
 'Multifamily Housing, Office, Other - Lodging/Residential, Retail Store',
 'Hotel, Other, Parking, Restaurant, Retail Store',
 'Non-Refrigerated Warehouse, Parking',
 'K-12 School, Medical Office, Office, Restaurant, Retail Store, Senior Care Community',
 'Office, Restaurant',
 'Worship Facility',
 'Office, Other, Other - Entertainment/Public Assembly',
 'Office, Residence Hall/Dormitory, Retail Store',
 'Medical Office, Multifamily Housing, Office, Retail Store',
 'Medical Office, Office',
 'Other, Restaurant, Retail Store',
 'Non-Refrigerated Warehouse, Other - Services',
 'Financial Office, Laboratory, Office, Parking',
 'Lifestyle Center, Office, Other, Parking, Restaurant',
 'Office, Parking, Restaurant',
 'Office, Other - Recreation, Parking, Retail Store',
 'Fitness Center/Health Club/Gym, Office, Other, Parking, Restaurant',
 'Office, Retail Store, Social/Meeting Hall',
 'Convenience Store without Gas Station, Food Service, Office',
 'Office, Parking, Pre-school/Daycare',
 'Data Center, Office, Parking',
 'Financial Office, Food Sales, Office, Other, Parking',
 'Convenience Store without Gas Station, Data Center, Financial Office, Fitness Center/Health Club/Gym, Office, Other, Parking, Personal Services (Health/Beauty, Dry Cleaning, etc), Restaurant',
 'Financial Office, Office, Parking, Retail Store',
 'Non-Refrigerated Warehouse, Office, Retail Store',
 'Data Center, Office, Other',
 'Office, Other, Parking, Restaurant',
 'Data Center',
 'Fitness Center/Health Club/Gym, Office, Parking',
 'Laboratory, Office, Parking',
 'Office, Other, Other - Restaurant/Bar, Parking',
 'Laboratory, Office, Other, Parking',
 'Supermarket/Grocery Store',
 'Office, Other, Restaurant',
 'Office, Other - Restaurant/Bar, Retail Store, Single Family Home',
 'Non-Refrigerated Warehouse, Other',
 'Office, Performing Arts, Retail Store',
 'Office, Other - Restaurant/Bar, Parking',
 'Office, Other - Education, Parking',
 'Financial Office, Office, Other, Parking, Restaurant',
 'Distribution Center, Non-Refrigerated Warehouse, Office',
 'Office, Parking, Personal Services (Health/Beauty, Dry Cleaning, etc)',
 'College/University, Office, Restaurant',
 'Financial Office, Office, Other, Parking, Restaurant, Retail Store',
 'Office, Parking, Retail Store',
 'Office, Other, Retail Store',
 'Office, Restaurant, Retail Store',
 'Bank Branch, Office, Other, Parking, Restaurant',
 'Medical Office, Office, Supermarket/Grocery Store',
 'Food Sales, Multifamily Housing, Office, Other - Education, Other - Restaurant/Bar, Pre-school/Daycare, Restaurant, Retail Store, Supermarket/Grocery Store',
 'Office, Other - Restaurant/Bar, Parking, Retail Store',
 'Movie Theater, Other - Restaurant/Bar, Parking',
 'Laboratory, Office',
 'Data Center, Office, Parking, Restaurant, Retail Store',
 'Other, Retail Store',
 'Convention Center, Parking',
 'Urgent Care/Clinic/Other Outpatient',
 'Medical Office, Parking',
 'Data Center, Office, Parking, Performing Arts, Restaurant, Retail Store',
 'Data Center, Financial Office, Office, Other, Parking, Restaurant',
 'Distribution Center, Office',
 'Distribution Center',
 'Adult Education, Bank Branch, Office, Parking',
 'Data Center, Office, Other, Restaurant',
 'Parking, Retail Store, Supermarket/Grocery Store',
 'Data Center, Laboratory',
 'Laboratory',
 'Financial Office, Food Service, Office, Other, Parking',
 'Medical Office, Office, Parking',
 'Fitness Center/Health Club/Gym, Office, Parking, Restaurant',
 'Bank Branch, Office, Parking',
 'Non-Refrigerated Warehouse, Office, Other, Other - Entertainment/Public Assembly, Parking',
 'Fitness Center/Health Club/Gym, Office, Other - Education, Other - Recreation, Other - Restaurant/Bar, Outpatient Rehabilitation/Physical Therapy, Personal Services (Health/Beauty, Dry Cleaning, etc), Restaurant, Retail Store, Self-Storage Facility, Vocat',
 'Parking, Supermarket/Grocery Store',
 'Office, Other - Services',
 'Parking, Strip Mall',
 'Wholesale Club/Supercenter',
 'Retail Store, Supermarket/Grocery Store',
 'Data Center, Office, Parking, Restaurant',
 'Data Center, Library, Non-Refrigerated Warehouse, Office, Other - Entertainment/Public Assembly, Other - Recreation, Other - Services, Restaurant, Social/Meeting Hall',
 'Multifamily Housing, Non-Refrigerated Warehouse, Office, Parking, Retail Store',
 'Parking, Retail Store',
 'Parking, Self-Storage Facility',
 'Distribution Center, Parking',
 'Office, Parking, Refrigerated Warehouse',
 'Office, Other - Services, Parking',
 'Strip Mall',
 'Medical Office, Retail Store',
 'Restaurant',
 'Refrigerated Warehouse',
 'Multifamily Housing, Parking, Restaurant, Retail Store',
 'Food Service, Office, Parking, Restaurant',
 'Enclosed Mall, Office',
 'Data Center, Office, Other, Other - Entertainment/Public Assembly',
 'Non-Refrigerated Warehouse, Retail Store',
 'Distribution Center, Office, Other',
 'Manufacturing/Industrial Plant',
 'Multifamily Housing, Non-Refrigerated Warehouse, Office, Parking',
 'Distribution Center, Office, Parking',
 'Distribution Center, Non-Refrigerated Warehouse, Office, Retail Store',
 'Distribution Center, Office, Other, Other - Recreation, Parking',
 'Medical Office, Other, Parking',
 'Multifamily Housing, Other - Lodging/Residential, Parking',
 'Financial Office, Hotel, Multifamily Housing, Other, Parking, Restaurant, Supermarket/Grocery Store',
 'Data Center, Office, Restaurant',
 'Data Center, Financial Office, Office, Parking, Restaurant',
 'Other - Recreation, Parking, Swimming Pool',
 'Medical Office, Multifamily Housing, Office, Other, Parking',
 'Library, Multifamily Housing, Office, Other - Entertainment/Public Assembly, Parking, Restaurant',
 'Lifestyle Center',
 'Multifamily Housing, Parking, Retail Store',
 'Personal Services (Health/Beauty, Dry Cleaning, etc), Retail Store, Supermarket/Grocery Store',
 'Non-Refrigerated Warehouse, Office, Other, Other - Recreation, Other - Services, Restaurant',
 'Adult Education, Fitness Center/Health Club/Gym, Office, Other - Restaurant/Bar, Parking, Retail Store',
 'Non-Refrigerated Warehouse, Office, Other',
 'Distribution Center, Office, Retail Store',
 'Other - Public Services, Parking',
 'Multifamily Housing, Non-Refrigerated Warehouse, Office, Parking, Retail Store, Worship Facility',
 'Data Center, Office, Other, Parking',
 'Bar/Nightclub, Office, Personal Services (Health/Beauty, Dry Cleaning, etc)',
 'Medical Office, Parking, Retail Store',
 'Office, Other - Entertainment/Public Assembly, Other - Mall, Restaurant',
 'Office, Performing Arts, Restaurant, Retail Store, Self-Storage Facility',
 'Office, Other - Restaurant/Bar, Other - Technology/Science, Parking',
 'Office, Other - Technology/Science, Parking',
 'Financial Office, Food Service, Office, Other',
 'Data Center, Medical Office, Office, Parking, Restaurant',
 nan,
 'College/University, Parking',
 'Data Center, Non-Refrigerated Warehouse, Office, Retail Store',
 'Non-Refrigerated Warehouse, Other, Parking, Retail Store',
 'Other, Parking, Restaurant, Retail Store',
 'Distribution Center, Non-Refrigerated Warehouse, Refrigerated Warehouse',
 'Non-Refrigerated Warehouse, Office, Other - Services, Retail Store',
 'Multifamily Housing, Office, Parking, Retail Store',
 'Non-Refrigerated Warehouse, Other, Restaurant, Retail Store',
 'Financial Office',
 'Other - Entertainment/Public Assembly, Restaurant',
 'Hotel, Parking, Restaurant, Swimming Pool',
 'Data Center, Non-Refrigerated Warehouse, Other, Refrigerated Warehouse, Repair Services (Vehicle, Shoe, Locksmith, etc), Restaurant',
 'Laboratory, Medical Office',
 'Automobile Dealership, Office',
 'Manufacturing/Industrial Plant, Office, Parking, Retail Store',
 'Multifamily Housing, Parking',
 'Multifamily Housing, Office, Parking',
 'Multifamily Housing, Office, Parking, Swimming Pool',
 'Multifamily Housing, Restaurant, Retail Store',
 'Multifamily Housing, Other - Restaurant/Bar',
 'Multifamily Housing, Office, Retail Store',
 'Multifamily Housing, Office, Other, Parking',
 'Office, Other, Retail Store, Swimming Pool',
 'Multifamily Housing, Office',
 'Medical Office, Office, Other, Other - Services, Parking, Retail Store',
 'Parking, Restaurant',
 'Medical Office, Multifamily Housing, Office, Parking, Restaurant',
 'Multifamily Housing, Retail Store',
 'Multifamily Housing, Swimming Pool',
 'Social/Meeting Hall',
 'Office, Other - Lodging/Residential',
 'Bank Branch, Office',
 'Multifamily Housing, Restaurant',
 'Food Service, Multifamily Housing, Office',
 'Other - Education',
 'K-12 School, Worship Facility',
 'Multifamily Housing, Other',
 'Food Service, Multifamily Housing',
 'Bank Branch, Other, Parking',
 'Multifamily Housing, Parking, Swimming Pool',
 'Fast Food Restaurant, Multifamily Housing, Retail Store',
 'Multifamily Housing, Parking, Restaurant, Swimming Pool',
 'Fire Station',
 'Other - Entertainment/Public Assembly, Parking, Social/Meeting Hall, Swimming Pool',
 'Non-Refrigerated Warehouse, Office, Other, Retail Store',
 'Non-Refrigerated Warehouse, Other, Retail Store',
 'Bank Branch, Financial Office',
 'Multifamily Housing, Office, Restaurant, Retail Store, Social/Meeting Hall, Supermarket/Grocery Store',
 'Bank Branch, Parking, Senior Care Community',
 'Multifamily Housing, Office, Other, Other - Lodging/Residential, Worship Facility',
 'Multifamily Housing, Parking, Personal Services (Health/Beauty, Dry Cleaning, etc), Restaurant',
 'Multifamily Housing, Office, Other',
 'Parking, Worship Facility',
 'Multifamily Housing, Non-Refrigerated Warehouse, Parking, Residence Hall/Dormitory',
 'Medical Office, Multifamily Housing, Office, Restaurant, Retail Store',
 'Multifamily Housing, Other - Entertainment/Public Assembly',
 'Medical Office, Multifamily Housing, Other - Restaurant/Bar',
 'Other, Worship Facility',
 'Parking, Residence Hall/Dormitory',
 'Medical Office, Multifamily Housing, Parking',
 'Office, Residence Hall/Dormitory',
 'Hotel, Restaurant',
 'Office, Social/Meeting Hall',
 'Performing Arts',
 'Non-Refrigerated Warehouse, Office, Other - Recreation, Restaurant',
 'Multifamily Housing, Office, Retail Store, Supermarket/Grocery Store',
 'Other - Recreation, Parking, Restaurant',
 'Fitness Center/Health Club/Gym, Swimming Pool',
 'Multifamily Housing, Parking, Senior Care Community',
 'Food Service, Retail Store, Supermarket/Grocery Store',
 'Multifamily Housing, Parking, Restaurant',
 'Other - Mall, Restaurant',
 'Distribution Center, Office, Refrigerated Warehouse',
 'K-12 School, Office, Retail Store',
 'Other - Recreation',
 'Other - Services',
 'Fitness Center/Health Club/Gym, Office, Other - Recreation, Pre-school/Daycare',
 'Non-Refrigerated Warehouse, Office, Self-Storage Facility',
 'Automobile Dealership, Parking',
 'Multifamily Housing, Other - Restaurant/Bar, Parking, Retail Store',
 'Non-Refrigerated Warehouse, Other - Recreation',
 'Multifamily Housing, Other, Retail Store',
 'Multifamily Housing, Office, Other - Mall, Parking, Restaurant',
 'Hotel, Retail Store',
 'Bank Branch, Bar/Nightclub, Office, Parking',
 'Multifamily Housing, Office, Other, Parking, Retail Store',
 'Residential Care Facility',
 'Lifestyle Center, Multifamily Housing, Office, Parking',
 'Bank Branch',
 'Multifamily Housing, Office, Parking, Restaurant',
 'Office, Worship Facility',
 'Other - Education, Parking',
 'Food Service, Office, Other - Entertainment/Public Assembly',
 'Office, Other, Other - Services, Residence Hall/Dormitory, Restaurant',
 'Food Service, Office, Parking',
 'Bank Branch, Office, Parking, Restaurant',
 'Other - Entertainment/Public Assembly, Restaurant, Retail Store',
 'Food Sales, Office, Restaurant, Retail Store, Self-Storage Facility, Social/Meeting Hall',
 'Bar/Nightclub, Food Sales, Multifamily Housing, Restaurant, Retail Store, Self-Storage Facility',
 'Food Sales, Office, Restaurant',
 'Medical Office, Multifamily Housing, Other - Restaurant/Bar, Retail Store',
 'Food Sales, Manufacturing/Industrial Plant, Office, Other - Entertainment/Public Assembly, Other - Restaurant/Bar, Restaurant, Retail Store, Self-Storage Facility',
 'Multifamily Housing, Office, Restaurant, Retail Store',
 'Multifamily Housing, Office, Restaurant',
 'Food Service',
 'Hotel, Multifamily Housing, Parking, Retail Store',
 'Medical Office, Office, Retail Store',
 'Other - Recreation, Self-Storage Facility',
 'Office, Repair Services (Vehicle, Shoe, Locksmith, etc), Retail Store',
 'Multifamily Housing, Retail Store, Self-Storage Facility, Supermarket/Grocery Store',
 'Adult Education, Parking',
 'Fitness Center/Health Club/Gym, Multifamily Housing, Personal Services (Health/Beauty, Dry Cleaning, etc)',
 'Office, Other - Recreation',
 'Medical Office, Non-Refrigerated Warehouse, Office, Retail Store',
 'Food Sales, Multifamily Housing, Parking',
 'Bank Branch, Medical Office, Parking, Retail Store',
 'Multifamily Housing, Other, Parking',
 'Financial Office, Multifamily Housing, Parking, Supermarket/Grocery Store',
 'Multifamily Housing, Parking, Supermarket/Grocery Store',
 'Library, Other - Services',
 'Fitness Center/Health Club/Gym, Office',
 'Distribution Center, Non-Refrigerated Warehouse',
 'Multifamily Housing, Non-Refrigerated Warehouse, Parking',
 'Multifamily Housing, Office, Other, Strip Mall',
 'Fitness Center/Health Club/Gym, Other - Recreation, Swimming Pool',
 'Multifamily Housing, Parking, Retail Store, Swimming Pool',
 'Food Sales, Food Service, Medical Office, Multifamily Housing, Other',
 'Office, Senior Care Community',
 'Office, Parking, Self-Storage Facility',
 'Office, Repair Services (Vehicle, Shoe, Locksmith, etc)',
 'Data Center, Non-Refrigerated Warehouse, Office',
 'Medical Office, Office, Worship Facility',
 'Multifamily Housing, Office, Swimming Pool',
 'Medical Office, Other/Specialty Hospital, Outpatient Rehabilitation/Physical Therapy, Parking',
 'Adult Education',
 'Multifamily Housing, Other/Specialty Hospital',
 'Museum, Parking',
 'Bank Branch, Multifamily Housing, Office, Other, Retail Store',
 'Multifamily Housing, Office, Parking, Restaurant, Retail Store, Swimming Pool, Urgent Care/Clinic/Other Outpatient',
 'Office, Other - Utility, Parking',
 'Office, Restaurant, Supermarket/Grocery Store',
 'Multifamily Housing, Non-Refrigerated Warehouse, Office, Retail Store',
 'Multifamily Housing, Other, Restaurant, Supermarket/Grocery Store',
 'Restaurant, Senior Care Community',
 'Other - Recreation, Worship Facility',
 'Non-Refrigerated Warehouse, Office, Other, Parking, Retail Store',
 'Medical Office, Non-Refrigerated Warehouse, Office, Other',
 'Multifamily Housing, Parking, Social/Meeting Hall',
 'Fitness Center/Health Club/Gym, Multifamily Housing, Other - Restaurant/Bar, Parking, Personal Services (Health/Beauty, Dry Cleaning, etc), Restaurant',
 'Other - Lodging/Residential, Parking',
 'Multifamily Housing, Office, Parking, Personal Services (Health/Beauty, Dry Cleaning, etc), Restaurant, Retail Store',
 'K-12 School, Multifamily Housing, Office',
 'Manufacturing/Industrial Plant, Parking',
 'Office, Refrigerated Warehouse',
 'Office, Other - Public Services',
 'Non-Refrigerated Warehouse, Parking, Repair Services (Vehicle, Shoe, Locksmith, etc), Retail Store',
 'Financial Office, Multifamily Housing, Retail Store',
 'Food Service, Non-Refrigerated Warehouse, Retail Store',
 'Fitness Center/Health Club/Gym, Office, Other - Recreation',
 'Distribution Center, Non-Refrigerated Warehouse, Office, Other - Education, Parking',
 'Movie Theater',
 'Fast Food Restaurant, Other, Other - Entertainment/Public Assembly',
 'College/University, Medical Office',
 'Fitness Center/Health Club/Gym, Office, Other - Recreation, Other - Technology/Science, Pre-school/Daycare, Swimming Pool',
 'Food Service, Other, Other - Education, Other - Entertainment/Public Assembly, Other - Recreation, Social/Meeting Hall',
 'Multifamily Housing, Restaurant, Retail Store, Self-Storage Facility',
 'Other, Other - Entertainment/Public Assembly, Self-Storage Facility',
 'Other, Refrigerated Warehouse',
 'Non-Refrigerated Warehouse, Office, Social/Meeting Hall',
 'Other, Supermarket/Grocery Store',
 'Bank Branch, Retail Store',
 'Non-Refrigerated Warehouse, Other, Refrigerated Warehouse',
 'Other - Mall, Parking',
 'Non-Refrigerated Warehouse, Worship Facility',
 'Multifamily Housing, Office, Parking, Pre-school/Daycare',
 'Personal Services (Health/Beauty, Dry Cleaning, etc)',
 'Non-Refrigerated Warehouse, Office, Repair Services (Vehicle, Shoe, Locksmith, etc)',
 'Hotel, Multifamily Housing, Parking',
 'College/University, Restaurant',
 'Office, Other, Refrigerated Warehouse',
 'Multifamily Housing, Other, Parking, Retail Store',
 'Food Service, Multifamily Housing, Other, Other - Entertainment/Public Assembly, Restaurant, Retail Store',
 'Other, Parking, Restaurant',
 'Multifamily Housing, Other - Recreation, Parking, Restaurant',
 'Financial Office, Multifamily Housing, Parking, Residence Hall/Dormitory',
 'Office, Restaurant, Retail Store, Self-Storage Facility',
 'Bar/Nightclub, Multifamily Housing',
 'Multifamily Housing, Other - Education, Other - Entertainment/Public Assembly, Other - Restaurant/Bar',
 'Office, Other, Worship Facility',
 'Food Sales, Non-Refrigerated Warehouse, Office',

In [48]:
all_data["BuildingType"].unique()

array(['NonResidential', 'Nonresidential COS', 'Multifamily MR (5-9)',
       'SPS-District K-12', 'Campus', 'Multifamily LR (1-4)',
       'Multifamily HR (10+)', 'Nonresidential WA'], dtype=object)

In [49]:
#all_data["PropertyName"].unique()
l = sorted(all_data["PrimaryPropertyType"].unique().tolist())
l

['Distribution Center',
 'High-Rise Multifamily',
 'Hospital',
 'Hotel',
 'K-12 School',
 'Laboratory',
 'Large Office',
 'Low-Rise Multifamily',
 'Medical Office',
 'Mid-Rise Multifamily',
 'Mixed Use Property',
 'Office',
 'Other',
 'Refrigerated Warehouse',
 'Residence Hall',
 'Restaurant',
 'Retail Store',
 'Self-Storage Facility',
 'Senior Care Community',
 'Small- and Mid-Sized Office',
 'Supermarket / Grocery Store',
 'University',
 'Warehouse',
 'Worship Facility']

In [50]:
np.sort(all_data["PrimaryPropertyType"].unique())

array(['Distribution Center', 'High-Rise Multifamily', 'Hospital',
       'Hotel', 'K-12 School', 'Laboratory', 'Large Office',
       'Low-Rise Multifamily', 'Medical Office', 'Mid-Rise Multifamily',
       'Mixed Use Property', 'Office', 'Other', 'Refrigerated Warehouse',
       'Residence Hall', 'Restaurant', 'Retail Store',
       'Self-Storage Facility', 'Senior Care Community',
       'Small- and Mid-Sized Office', 'Supermarket / Grocery Store',
       'University', 'Warehouse', 'Worship Facility'], dtype=object)

def delete_columns_by_filling_rate(data_frame, min_filling_rate):
    """
    Returns a copy of the DataFrame entered as a parameter and in which the columns with less than the minimum filling rate are deleted.
    :param data_frame: (DataFrame) a DataFrame
    :param min_filling_rate: (float) minimum filling rate necessary to not drop the column
    :return: a copy of the dataframe entered as parameter
    :rtype: DataFrame

    CU: We take the first column as our reference
    """
    df = data_frame.copy()
    columns = df.columns.tolist()
    print("We had", df.shape[1], "columns.") # before : the number of columns
    for column in columns:
        # notna returns a Boolean, mean computes the average of True for our column
        if df[column].notna().mean() < min_filling_rate: # it means there is more than 50% of our data missing
            df = df.drop(columns=column)
    print("Now, we only have", df.shape[1], "columns.") # after : the new number of columns
    return df

x = delete_columns_by_filling_rate(all_data, 0.5)

x

In [53]:
all_data["City"].unique()
all_data["State"].unique()
#all_data["ZipCode"].unique()
#all_data["CouncilDistrictCode"].unique() # 1 to 7

# Idea : councildistrictcode / neighborhood

a = all_data["Neighborhood"].unique().tolist()


b = [e.lower() for e in a]
b = set(b)
b

b = list(b)
len(b) # 14 après

len(a) # 19 avant:

19

19 unique neighborhoods, but because of upper case / lower case we get 14 neighborhoods.
We will use CouncilDistrictCode to localize the buildings.

In [54]:
columns_to_drop = ["PropertyName", "Address", "City", "State", "TaxParcelIdentificationNumber", "Neighborhood", "YearsENERGYSTARCertified", "DefaultData", "Comments", "ComplianceStatus"] ###

In [59]:
all_data_v1 = all_data.drop(columns=columns_to_drop)
display(all_data_v1)
# fillNaN for GFA
columns_to_fill = ["PropertyGFATotal", "PropertyGFAParking", "PropertyGFABuilding(s)", "ListOfAllPropertyUseTypes", "LargestPropertyUseType", "LargestPropertyUseTypeGFA", "SecondLargestPropertyUseType", "SecondLargestPropertyUseTypeGFA", "ThirdLargestPropertyUseType", "ThirdLargestPropertyUseTypeGFA", "Outlier"]

all_data_v1[columns_to_fill]

#GFA_outlier_example = all_data_v1.iloc[16]
GFA_outlier_example = all_data[all_data.index.isin([16])]
GFA_outlier_example

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,ZipCode,CouncilDistrictCode,Latitude,Longitude,YearBuilt,NumberofBuildings,...,SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,98101.00000,7,47.61220,-122.33799,1927,1.00000,...,7226362.50000,7456910.00000,2003882.00000,1156514.25000,3946027.00000,12764.52930,1276453.00000,NaN,249.98000,2.83000
1,2,2016,NonResidential,Hotel,98101.00000,7,47.61317,-122.33393,1996,1.00000,...,8387933.00000,8664479.00000,0.00000,950425.18750,3242851.00000,51450.81641,5145082.00000,NaN,295.86000,2.86000
2,3,2016,NonResidential,Hotel,98101.00000,7,47.61393,-122.33810,1969,1.00000,...,72587024.00000,73937112.00000,21566554.00000,14515435.00000,49526664.00000,14938.00000,1493800.00000,NaN,2089.28000,2.19000
3,5,2016,NonResidential,Hotel,98101.00000,7,47.61412,-122.33664,1926,1.00000,...,6794584.00000,6946800.50000,2214446.25000,811525.31250,2768924.00000,18112.13086,1811213.00000,NaN,286.43000,4.67000
4,8,2016,NonResidential,Hotel,98121.00000,7,47.61375,-122.34047,1980,1.00000,...,14172606.00000,14656503.00000,0.00000,1573448.62500,5368607.00000,88039.98438,8803998.00000,NaN,505.01000,2.88000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,50222,2016,Nonresidential COS,Office,NaN,2,47.56722,-122.31154,1990,1.00000,...,849745.68750,943003.18750,0.00000,153655.00000,524270.86000,3254.75024,325475.02440,NaN,20.94000,1.70000
3372,50223,2016,Nonresidential COS,Other,NaN,2,47.59625,-122.32283,2004,1.00000,...,950276.18750,1053705.75000,0.00000,116221.00000,396546.05200,5537.29980,553729.98050,NaN,32.17000,2.01000
3373,50224,2016,Nonresidential COS,Other,NaN,7,47.63644,-122.35784,1974,1.00000,...,5765898.00000,6053764.50000,0.00000,525251.68750,1792158.75800,39737.39063,3973739.06300,NaN,223.54000,16.99000
3374,50225,2016,Nonresidential COS,Mixed Use Property,NaN,1,47.52832,-122.32431,1989,1.00000,...,719471.18750,782841.31250,0.00000,102248.00000,348870.17600,3706.01001,370601.00100,NaN,22.11000,1.57000
3375,50226,2016,Nonresidential COS,Mixed Use Property,NaN,2,47.53939,-122.29536,1938,1.00000,...,1152896.25000,1293722.37500,0.00000,126774.39840,432554.24750,7203.41992,720341.99220,NaN,41.27000,2.26000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 36 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   ZipCode                          3360 non-null   float64
 5   CouncilDistrictCode              3376 non-null   int64
 6   Latitude                         3376 non-null   float64
 7   Longitude                        3376 non-null   float64
 8   YearBuilt                        3376 non-null   int64
 9   NumberofBuildings                3368 non-null   float64
 10  NumberofFloors                   3376 non-null   int64
 11  PropertyGFATotal                 3376 non-null   int64
 12  PropertyGFAParking               3376 non-null   int64
 13  PropertyGFABuilding(s)           3376 non-null   int64
 14  ListOfAllPropertyUseTypes        3367 non-null   object
 15  LargestPropertyUseType           3356 non-null   object
 16  LargestPropertyUseTypeGFA        3356 non-null   float64
 17  SecondLargestPropertyUseType     1679 non-null   object
 18  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 19  ThirdLargestPropertyUseType      596 non-null    object
 20  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 21  ENERGYSTARScore                  2533 non-null   float64
 22  SiteEUI(kBtu/sf)                 3369 non-null   float64
 23  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 24  SourceEUI(kBtu/sf)               3367 non-null   float64
 25  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 26  SiteEnergyUse(kBtu)              3371 non-null   float64
 27  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 28  SteamUse(kBtu)                   3367 non-null   float64
 29  Electricity(kWh)                 3367 non-null   float64
 30  Electricity(kBtu)                3367 non-null   float64
 31  NaturalGas(therms)               3367 non-null   float64
 32  NaturalGas(kBtu)                 3367 non-null   float64
 33  Outlier                          32 non-null     object
 34  TotalGHGEmissions                3367 non-null   float64
 35  GHGEmissionsIntensity            3367 non-null   float64
dtypes: float64(21), int64(8), object(7)
memory usage: 949.6+ KB

In [75]:
all_data_v1.info()
# ZipCode missing 16 $$$

l = all_data["ZipCode"].unique().tolist()

print(l)
zipcode_na = all_data[all_data["ZipCode"].isna()]
zipcode_na_list_address = zipcode_na["Address"].tolist()


zipcode_na_list = [[i, ""] for i in zipcode_na_list_address]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 36 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   ZipCode                          3360 non-null   float64
 5   CouncilDistrictCode              3376 non-null   int64
 6   Latitude                         3376 non-null   float64
 7   Longitude                        3376 non-null   float64
 8   YearBuilt                        3376 non-null   int64
 9   NumberofBuildings                3368 non-null   float64
 10  NumberofFloors                   3376 non-null   int64
 11  PropertyGFATotal                 3376 non-null   int64
 12  PropertyGFAParking               3376 non-null   int64
 13  PropertyGFABuilding(s)           3376 non-null   int64
 14  ListOfAllPropertyUseTypes        3367 non-null   object
 15  LargestPropertyUseType           3356 non-null   object
 16  LargestPropertyUseTypeGFA        3356 non-null   float64
 17  SecondLargestPropertyUseType     1679 non-null   object
 18  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 19  ThirdLargestPropertyUseType      596 non-null    object
 20  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 21  ENERGYSTARScore                  2533 non-null   float64
 22  SiteEUI(kBtu/sf)                 3369 non-null   float64
 23  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 24  SourceEUI(kBtu/sf)               3367 non-null   float64
 25  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 26  SiteEnergyUse(kBtu)              3371 non-null   float64
 27  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 28  SteamUse(kBtu)                   3367 non-null   float64
 29  Electricity(kWh)                 3367 non-null   float64
 30  Electricity(kBtu)                3367 non-null   float64
 31  NaturalGas(therms)               3367 non-null   float64
 32  NaturalGas(kBtu)                 3367 non-null   float64
 33  Outlier                          32 non-null     object
 34  TotalGHGEmissions                3367 non-null   float64
 35  GHGEmissionsIntensity            3367 non-null   float64
dtypes: float64(21), int64(8), object(7)
memory usage: 949.6+ KB
[98101.0, 98121.0, 98104.0, 98154.0, 98118.0, 98105.0, 98112.0, 98125.0, 98109.0, 98070.0, 98108.0, 98199.0, 98115.0, 98107.0, 98144.0, 98103.0, 98119.0, 98136.0, 98122.0, 98126.0, 98133.0, 98146.0, 98033.0, 98106.0, 98111.0, 98134.0, 98117.0, 98116.0, 98191.0, 98164.0, 98195.0, 98185.0, 98181.0, 98102.0, 98168.0, 98155.0, 98006.0, 98124.0, 98053.0, 98012.0, 98013.0, 98028.0, 98178.0, 98114.0, 98127.0, 98165.0, 98011.0, 98198.0, 98113.0, 98040.0, 98204.0, 98177.0, 98020.0, 98272.0, 98145.0, nan]

In [77]:
zipcode_na_list

right_zipcode = [98125, 98144, 98117, 98125, 98107, 98117, 98119, 98112, 98122, 98118, 98126, 98108, 98104, 98119, 98108, 98108]

print(len(right_zipcode))

for i, zipcode in enumerate(right_zipcode):
    zipcode_na_list[i][1] = zipcode

print(zipcode_na_list)

16
[['10510 5th Ave NE', 98125], ['405 MLK Jr Way S', 98144], ['8729 15th Ave NW', 98117], ['2806 NE 127th St', 98125], ['6020 28th ave NW', 98107], ['1471 NW 67th St', 98117], ['1403 w howe', 98119], ['1400 E Galer St', 98112], ['2323 East Cherry St', 98122], ['4420 S Genesee', 98118], ['6920 34th Ave SW', 98126], ['1600 S Dakota St', 98108], ['719 8th Ave S', 98104], ['1920 1st Ave W', 98119], ['8319 8th Ave S', 98108], ['2820 S Myrtle St', 98108]]

In [73]:
l = [("a", "b")]

l[0][1]

'b'

In [56]:
def fill_second_third_property(data_frame, columns_to_fill):
    """

    :param data_frame:
    :param columns_to_fill:
    :return:
    """
    df = data_frame.copy()
    df = df
    pass

In [57]:
all_data_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 36 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   ZipCode                          3360 non-null   float64
 5   CouncilDistrictCode              3376 non-null   int64
 6   Latitude                         3376 non-null   float64
 7   Longitude                        3376 non-null   float64
 8   YearBuilt                        3376 non-null   int64
 9   NumberofBuildings                3368 non-null   float64
 10  NumberofFloors                   3376 non-null   int64
 11  PropertyGFATotal                 3376 non-null   int64
 12  PropertyGFAParking               3376 non-null   int64
 13  PropertyGFABuilding(s)           3376 non-null   int64
 14  ListOfAllPropertyUseTypes        3367 non-null   object
 15  LargestPropertyUseType           3356 non-null   object
 16  LargestPropertyUseTypeGFA        3356 non-null   float64
 17  SecondLargestPropertyUseType     1679 non-null   object
 18  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 19  ThirdLargestPropertyUseType      596 non-null    object
 20  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 21  ENERGYSTARScore                  2533 non-null   float64
 22  SiteEUI(kBtu/sf)                 3369 non-null   float64
 23  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 24  SourceEUI(kBtu/sf)               3367 non-null   float64
 25  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 26  SiteEnergyUse(kBtu)              3371 non-null   float64
 27  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 28  SteamUse(kBtu)                   3367 non-null   float64
 29  Electricity(kWh)                 3367 non-null   float64
 30  Electricity(kBtu)                3367 non-null   float64
 31  NaturalGas(therms)               3367 non-null   float64
 32  NaturalGas(kBtu)                 3367 non-null   float64
 33  Outlier                          32 non-null     object
 34  TotalGHGEmissions                3367 non-null   float64
 35  GHGEmissionsIntensity            3367 non-null   float64
dtypes: float64(21), int64(8), object(7)
memory usage: 949.6+ KB

In [58]:
all_data[~all_data["Outlier"].isna()]

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
226,350,2016,NonResidential,Large Office,Second And Spring Building,1100 Second Avenue,Seattle,WA,98101.00000,0942000045,...,11663150.00000,39794668.00000,16048.30957,1604831.00000,False,NaN,Non-Compliant,High outlier,362.66000,2.10000
384,539,2016,NonResidential,Retail Store,University Center,4501 Roosevelt Way NE,Seattle,WA,98105.00000,5335200380,...,93482.60156,318963.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,2.22000,0.03000
448,608,2016,NonResidential,Large Office,411 1ST AVE S (ID608),411 1ST AVE S,Seattle,WA,98104.00000,5247800200,...,471503.00000,1608768.00000,3430.50049,343050.00000,False,NaN,Non-Compliant,Low outlier,29.43000,0.19000
517,704,2016,NonResidential,Large Office,401 Elliott Ave West,401 Elliot Ave West,Seattle,WA,98119.00000,7666202110,...,7953454.50000,27137187.00000,0.00000,0.00000,False,NaN,Non-Compliant,High outlier,189.18000,1.46000
720,19708,2016,Multifamily HR (10+),High-Rise Multifamily,Bay Vista,2821 2nd Ave,Seattle,WA,98121.00000,0586400000,...,626561.62500,2137828.00000,2700.76001,270076.00000,False,NaN,Non-Compliant,Low outlier,29.25000,0.17000
834,19934,2016,Multifamily LR (1-4),Low-Rise Multifamily,Belmont Lofts,231 Belmont Ave E,Seattle,WA,98102.00000,0704600000,...,75020.89844,255971.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,1.78000,0.06000
839,19967,2016,SPS-District K-12,K-12 School,Queen Anne Gym,1431 2nd Ave N,Seattle,WA,98109.00000,0811000005,...,72282.39844,246628.00000,1848.43958,184844.00000,True,NaN,Error - Correct Default Data,Low outlier,11.54000,0.32000
962,20367,2016,Multifamily LR (1-4),Low-Rise Multifamily,City Lights on Harbor,2349 Harbor Ave. SW,Seattle,WA,98126.00000,1595200000,...,205885.50000,702481.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,4.90000,0.07000
1045,20617,2016,NonResidential,Retail Store,Seattle Habitat Store,21 S Nevada St,Seattle,WA,98134.00000,1824049074,...,14362.50000,49005.00000,964.64001,96464.00000,True,NaN,Error - Correct Default Data,Low outlier,5.46000,0.14000
1229,21315,2016,NonResidential,Small- and Mid-Sized Office,1518 Fifith Ave,1520 Fifth Ave,Seattle,WA,98101.00000,1975700135,...,7064.89990,24105.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,0.17000,0.00000
1295,21474,2016,NonResidential,Other,The Lusty Lady,1315 1st Ave,Seattle,WA,98101.00000,1976200060,...,12981.70020,44294.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,0.31000,0.01000
1341,21562,2016,Multifamily LR (1-4),Low-Rise Multifamily,Diplomat Condominiums,4444 44th Avenue SW,Seattle,WA,98116.00000,2041200000,...,56124.80078,191498.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,1.34000,0.04000
1611,22830,2016,NonResidential,Worship Facility,Freedom Church,9601 35th Ave,Seattle,WA,98126.00000,2858600090,...,29555.00000,100842.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,0.70000,0.03000
1707,23174,2016,Multifamily LR (1-4),Mid-Rise Multifamily,Taylor Anne Condominium,1730 Taylor Ave N,Seattle,WA,98109.00000,8567250000,...,1961077.75000,6691197.00000,1432.32996,143233.00000,False,NaN,Non-Compliant,High outlier,54.25000,1.77000
1888,23708,2016,Multifamily LR (1-4),Low-Rise Multifamily,Anne Vista Apartments,2416-2420 54th Pl Sw,Seattle,WA,98116.00000,3505100761,...,48305.39844,164818.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,1.15000,0.06000
1945,23912,2016,NonResidential,Small- and Mid-Sized Office,1416 S Jackson,1416 South Jackson Street,Seattle,WA,98133.00000,3320000165,...,41554.60156,141784.00000,1430.72986,143073.00000,False,NaN,Non-Compliant,Low outlier,8.59000,0.19000
2129,24547,2016,NonResidential,K-12 School,Islamic School of Seattle,720 25TH AVE,Seattle,WA,98122.00000,6840700175,...,47292.89844,161363.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,1.12000,0.05000
2189,24717,2016,NonResidential,Other,1701 First Ave South LLC,1701 First Ave South,Seattle,WA,98134.00000,7666207085,...,4926.39990,16809.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,0.12000,0.00000
2216,24825,2016,NonResidential,Small- and Mid-Sized Office,2233 Building,2233 1st AVE.South,Seattle,WA,98104.00000,7666207190,...,34489.89844,117680.00000,868.19391,86819.00000,False,NaN,Non-Compliant,Low outlier,5.43000,0.26000
2353,25358,2016,Multifamily LR (1-4),Low-Rise Multifamily,One West Condominiums,5000 California Ave SW,Seattle,WA,98116.00000,6391900000,...,58633.19922,200056.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,1.39000,0.05000
2410,25553,2016,NonResidential,Hotel,J & M HOTEL BUILDING (ID25553),210 1St Ave S,Seattle,WA,98104.00000,5247800130,...,147639.09380,503745.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,3.51000,0.14000
2450,25674,2016,NonResidential,Low-Rise Multifamily,(ID25674) COMET TAVERN,916 E PIKE ST,Seattle,WA,98122.00000,6003500480,...,3332.50000,11370.00000,968.30017,96830.00000,False,NaN,Non-Compliant,Low outlier,5.22000,0.16000
2476,25756,2016,Multifamily LR (1-4),Low-Rise Multifamily,West Olympic Condominiums,5601 California Avenue SW,Seattle,WA,98116.00000,9270000000,...,45368.69922,154798.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,1.08000,0.05000
2763,26852,2016,Multifamily LR (1-4),Low-Rise Multifamily,Atlas Building,420 Maynard Avenue South,Seattle,WA,98104.00000,5247802315,...,514840.68750,1756636.00000,51247.68750,5124769.00000,False,NaN,Non-Compliant,High outlier,284.42000,6.11000
2801,27007,2016,NonResidential,Worship Facility,Seattle Community Church,4501 46th Avenue NE,Seattle,WA,98105.00000,5364200005,...,30692.30078,104722.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,0.73000,0.04000
2863,27245,2016,Multifamily LR (1-4),Low-Rise Multifamily,St. Johns Apartments,725 E. Pike Street,Seattle,WA,98122.00000,7502500061,...,293781.31250,1002382.00000,16793.89063,1679389.00000,False,NaN,Non-Compliant,High outlier,96.18000,3.90000
2922,27526,2016,Multifamily LR (1-4),Low-Rise Multifamily,Vali Hai,800 1st Ave N.,Seattle,WA,98112.00000,5457300300,...,584334.68750,1993750.00000,25253.65039,2525365.00000,False,NaN,Non-Compliant,High outlier,148.02000,3.41000
3082,28735,2016,Multifamily LR (1-4),Low-Rise Multifamily,Building 4,400 NE Thornton Place,Seattle,WA,98125.00000,8632880000,...,1161542.75000,3963184.00000,94960.35938,9496036.00000,False,NaN,Non-Compliant,High outlier,531.96000,11.38000
3092,29390,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Commodore Duchess Apartments,4005 15th Ave NE,Seattle,WA,98105.00000,1142002395,...,459770.00000,1568735.00000,696.96002,69696.00000,False,NaN,Non-Compliant,High outlier,686.53000,7.01000
3152,43948,2016,Nonresidential COS,Other,Georgetown Steamplant,6605 13th Avenue South,Seattle,WA,98108.00000,0000000000,...,21210.59961,72371.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,0.50000,0.01000
3265,49943,2016,Multifamily LR (1-4),Low-Rise Multifamily,Stewart House,80 Stewart Street,Seattle,WA,98101.00000,8008550000,...,1054888.87500,3599281.00000,10035.12012,1003512.00000,False,NaN,Non-Compliant,High outlier,78.39000,1.60000
3341,50071,2016,Multifamily MR (5-9),Mid-Rise Multifamily,The Westside Off Broadway,801 E Thomas St,Seattle,WA,98102.00000,6003501185,...,3930.00000,13409.00000,0.00000,0.00000,False,NaN,Non-Compliant,Low outlier,0.09000,0.00000